body {
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #676767;
    background-color: #ffffff
}
header {
    margin-bottom: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #dedede;
}
h1, h2{
    color: #002B3C;
    font-family: "Open Sans Condensed", sans-serif;
}
.container {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.navbar-fixed-top{
    position: fixed;
    min-height: 80px;
    padding: 20px 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
a {color:#fbb800; font-weight: 700; text-decoration: none;}
.btn, .btn-outline-primary:hover {
    border: 2px solid #fbb800;
    background-color: #fbb800 ; 
    color: #002B3C;
}
.btn-outline-primary, .btn-primary:hover{
    background: transparent;
    color: #fbb800;
    border: 2px solid #fbb800;
}

.video .duration, .video .yt_link {font-size: 13px;}
.video .yt_link a:hover {color:#fbb800;}
.video a:hover, .accordion-button, .accordion-button::after {color: #fbb800;}
h1, .video a, .accordion-button:not(.collapsed){color: #002B3C}
.video .yt_link a {font-weight: 400; color: #ababab; text-decoration: underline;}
.logo img {width: 220px;}

.contact a.btn {
    border: 2px solid #002b3c;
    background: #002b3c;
    color: #ffffff;
    margin-top: 20px;
}
.flags, .duration {
    display: flex;
    gap: 20px;
}
.flags img {
    width: 18px;
    cursor: pointer;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: auto;
}
.video .row {width: fit-content;
    flex-wrap: nowrap;}
#videos{margin-top: 20px;
}
.video {
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    padding: 10px;
}
.video img {
    width: 100%;
    height: auto;
}
.video p {
    margin: 5px 0;
}
.accordion-body {padding: 30px 20px 0 20px;}
.accordion-button {padding: 20px 0;}
.accordion-button {
    font-size: 19px;
    font-weight: 700;
}
.accordion-button::after, .accordion-button:not(.collapsed)::after,  .accordion-button:not(.collapsed){background-image:none; box-shadow: none;}
.accordion-button:focus {box-shadow: none;}
.accordion-button:not(.collapsed){background-color: #ffffff;}
.accordion-item {
    border-top: none;
    border-bottom: 1px solid #dedede;
    border-right: none;
    border-left: none;
}
/* These styles are required to make icons render reliably */
.icon::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.icon-solid::before, .icon-solid::after  {
font: var(--fa-font-solid);
font-size: 25px;
}
.icon-caret-down, .accordion-button::after {
    content: '\f0d7';
}
.bg_green1 {
    background: #009db5
}
.txt_green1 {
    color: #007788
}
.txt_green2 {
    color: #009db5
}
.txt_green3 {
    color: #4ebcc2
}
.txt_green4 {
    color: #badfe1
}
.txt_gray1 {
    color: #ababab
}
.txt_gray2 {
    color: #dedede
}
.txt_gray3 {
    color: #f7f7f7
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.thumb {
    margin: 10px;
}

.thumb img {
    width: 150px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.thumb img:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fond noir avec transparence */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.modal-content {
    position: relative;
    padding: 20px; /* Garde le padding autour du contenu */
    background-color: white;
    width: auto; /* Laisse la largeur du modal s'ajuster à celle du contenu */
    max-width: 100%; /* Ne dépasse pas la taille de l'écran */
    margin: auto;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: inline-block; /* Adapte la taille du modal à celle du contenu */
}

.media-container {
    display: inline-block; /* S'ajuste à la taille du média */
}

.modal img, .modal video {
    max-width: 100%; /* L'image/vidéo occupe toute la largeur disponible */
    max-height: 80vh; /* Limite la hauteur à 80% de la hauteur de la fenêtre */
    width: auto; /* Ajuste la largeur du média en fonction de sa taille réelle */
    height: auto; /* Garde les proportions du média */
    display: block; /* Supprime les marges internes */
}

.modal-info {
    display: block; /* Fait en sorte que la description occupe toute la largeur */
    max-width: 100%; /* Assure que le texte ne dépasse pas la largeur du média */
    margin-top: 10px; /* Ajoute un espace entre l'image et la description */
}

.modal-text {
    text-align: left;
    max-width: 100%; /* La largeur du texte ne dépassera pas celle du média */
    margin: 0 auto; /* Centre le texte horizontalement */
}

.modal-position {
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    margin-top: 10px; /* Ajoute un peu d'espace en haut */
    margin-left: auto; /* Permet de maintenir l'indicateur à droite */
}

.modal h3 {
    margin: 0;
    font-size: 20px;
    text-align: left;
}

.modal p {
    margin: 10px 0;
    text-align: left;
    padding-right: 20px; /* Ajoute un padding pour aérer la description */
}




.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
}

/* Arrow bwidth: fit-content;
    flex-wrap: nowrap;uttons */
.arrow {width: fit-content;
    flex-wrap: nowrap;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 36px;
    color: #333;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    user-select: none;
    transition: background-color 0.3s;
}

.arrow-lwidth: fit-content;
    flex-wrap: nowrap;eft {
    left: 20px;
    transform: translateY(-50%);
}

.arrow-rwidth: fit-content;
    flex-wrap: nowrap;ight {
    right: 20px;
    transform: translateY(-50%);
}

.arrow:hwidth: fit-content;
    flex-wrap: nowrap;over {
    background-color: rgba(255, 255, 255, 0.9);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: transparent;
    color: #002B3C;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    .modal-content {
        width: 100%;
        padding: 15px;
    }

    .arrow {width: fit-content;
    flex-wrap: nowrap;
        font-size: 30px;
    }
}
@media (max-width: 600px) {
    .row {
      flex-direction: column; /* Les éléments passent en colonne */
      align-items: flex-start; /* Aligne les éléments à gauche */
    }
  
    .duration, .yt_link {
      margin-bottom: 8px; /* Espace entre les éléments */
    }
  }

@media (max-width: 480px) {
    .thumb img {
        width: 100px;
    }

    .modal-content {
        max-width: 100%;
        padding: 10px;
    }

    .arrow {width: fit-content;
    flex-wrap: nowrap;
        font-size: 24px;
        padding: 5px;
    }

    .close {
        font-size: 20px;
    }
}
